:host {
  display: block;
  min-height: 100vh;
  background-color: #F9F9F6;
}

.text-2ie-yellow {
  color: #F5A800;
}

.bg-2ie-yellow {
  background-color: #F5A800;
}

.text-nature-green {
  color: #4CAF50;
}

.bg-nature-green {
  background-color: #4CAF50;
}
